@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

h1 {
    font-family: "Lilita One", serif;
    font-weight: 300;
    font-style: normal;
    color: #EAE4D7;
    text-align: center;
    font-size: 2.5rem;
  }

body {
    background-color: #00138f;
}
  
#question-container {
  background-color: #EAE4D7;
    box-sizing: border-box;
    width: 85%;
    height: 100vh;
    max-height: 450px;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

#questions {
  text-align: center;
}

#next-btn {
  background-color: #EAE4D7;
  display: block;
  margin: auto;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem 0.5rem 0.5rem;
}
